/* Alterations to PC Sheet */

div.dnd5e.sheet.character div.tab.attributes ul.attributes li:first-child h4 input:hover,
div.dnd5e.sheet.character div.tab.attributes ul.attributes li:first-child h4 input:focus {
    border: 1px solid transparent;
    box-shadow: none;
    cursor: default;
}
div.dnd5e.sheet.character div.tab.attributes ul.attributes li:first-child label.recharge {
    display: none;
}

div.dnd5e.sheet.character div.tab.inventory ol.currency > h3 {
    display: none;
}
