<form id="ammo-reload" class="dialog-content" onsubmit="event.preventDefault();">
  <p>{{prompt}}</p>
  {{#each errors}}<p class="notification error">{{localize this}}</p>{{/each}}
  <div class="form-group">
    <label>{{inflect.noun}}</label>
    <input type="hidden" name="ammo-id" value="{{ammo.entity.id}}" />
    <div class="form-fields">
      <select name="weapon-id">
        {{#each weapons as |weapon|}}
        <option value="{{weapon.entity.id}}">{{weapon.name}} ({{../inflect.uses}}: {{weapon.uses.value}}/{{weapon.uses.max}})</option>
        {{/each}}
      </select>
    </div>
  </div>
</form>
