<form id="energy-item-recharge" class="dialog-content" onsubmit="event.preventDefault();">
  <p>Recharge {{item.name}}?</p>
  {{#each errors}}<p class="notification error">{{localize this}}</p>{{/each}}
  <div class="form-group">
    <label>Energy Source</label>
    <input type="hidden" name="item-id" value="{{item.entity.id}}" />
    <div class="form-fields">
      <select name="ammo-id">
        {{#each energySources as |energySource|}}
        <option value="{{energySource.entity.id}}">{{energySource.name}} (Quantity: {{energySource.quantity}})</option>
        {{/each}}
      </select>
    </div>
  </div>
</form>
