<form id="weapon-reload" class="dialog-content" onsubmit="event.preventDefault();">
  <p>{{prompt}}</p>
  {{#each errors}}<p class="notification error">{{localize this}}</p>{{/each}}
  <div class="form-group">
    <label>Rounds</label>
    <input type="hidden" name="item-id" value="{{weapon.entity.id}}" />
    <div class="form-fields">
      <select name="ammo-id">
        {{#each ammos as |ammo|}}
          <option value="{{ammo.entity.id}}">{{ammo.name}} (Quantity: {{ammo.quantity}})</option>
        {{/each}}
      </select>
    </div>
  </div>
</form>
