<div class="dnd5e chat-card item-card" data-actor-id="{{character.entity.id}}" data-item-id="{{item.entity.id}}""
     {{#if token}}data-token-id="{{token.id}}"{{/if}}>
  <div class="card-content"></div>

  <footer class="card-footer">
    <span>1 Bonus Action</span>
  </footer>
</div>
