<div class="dnd5e chat-card item-card" data-actor-id="{{character.entity.id}}" data-item-id="{{item.entity.id}}" data-ammo-id="{{ammo.entity.id}}"
     {{#if token}}data-token-id="{{token.id}}"{{/if}}>
  <div class="card-content">
    <p><strong>{{ammoDetails.type}}:</strong> {{ammoDetails.link}}
  </div>

  <footer class="card-footer">
    <span>{{#unless item.isEquipped}}Not {{/unless}}Equipped</span>
    <span>{{ammoDetails.actionType}}</span>
  </footer>
</div>
